<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GORUNTULE</title>
</head>
<body>
<div>
    <div>
        <div>
            <h1>IS EMRI - GORUNTULE</h1>
        </div>
        <hr>
        <br>
        <div>
            <b>Form u hazirlayan</b> :{{ is_emri.user }}
            <hr>
            <b>CRM numarasi</b> :{{ is_emri.crm }}
            <hr>
            <b>Firma Bilgileri</b> :{{ is_emri.firma_bilgileri }}
            <hr>
            <b>Olusturma Tarihi</b> :{{ is_emri.olusturma_tarihi }}
            <hr>
            <b>Teslim Tarihi</b> :{{ is_emri.teslim_tarihi }}
            <hr>
            <b>Cam Tipi</b> :{{ is_emri.cam }}
            <hr>
            <b>Kapi Bitisi</b> :{{ is_emri.bitis }}
            <hr>
            <b>Kapi Tipi</b> :{{ is_emri.kapi_tipi }}
            <hr>
            <b>Acilis Yonu</b> :{{ is_emri.acilis_yonu }}
            <hr>
            <b>gecis genisligi</b> :{{ is_emri.gecis_genisligi }}
            <hr>
            <b>Gecis yuksekligi</b> :{{ is_emri.gecis_yuksekligi }}
            <hr>
            <b>Ustluk var mi</b> :{{ is_emri.ustluk }}
            <hr>
            <b>Toplam Yukseklik</b> :{{ is_emri.toplam_yukseklik }}
            <hr>
            <b>Mekanizma Genisligi</b> :{{ is_emri.mekanizma_genisligi }}
            <hr>
        </div>
    </div>
</div>
</body>
</html>