<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GORUNTULE</title>
</head>
<body>
<div>
    <div>
        <div>
            <h1>IS EMRI - GORUNTULE</h1><hr>
            <h3>Kapi Tipi _____  {{ is_emri.kapi_tipi }}</h3>
        </div>
        <hr>
        <br>
        <div>
            <b>ID</b> :{{ is_emri.id }}
            <b>Form u hazirlayan</b> :{{ is_emri.user }}
            <b>CRM numarasi</b> :{{ is_emri.crm }}
            <b>Firma Bilgileri</b> :{{ is_emri.firma_bilgileri }}
            <b>Olusturma Tarihi</b> :{{ is_emri.olusturma_tarihi }}
            <b>Teslim Tarihi</b> :{{ is_emri.teslim_tarihi }}
            <hr>
            <b>Cam Tipi</b> :{{ is_emri.cam }}
            <b>Kapi Bitisi</b> :{{ is_emri.bitis }}
            <b>Kapi Tipi</b> :{{ is_emri.kapi_tipi }}
            <b>Acilis Yonu</b> :{{ is_emri.acilis_yonu }}
            <hr>
            <b>gecis genisligi</b> :{{ is_emri.gecis_genisligi }}
            <b>Gecis yuksekligi</b> :{{ is_emri.gecis_yuksekligi }}
            <b>Ustluk var mi</b> :{{ is_emri.ustluk }}
            <b>Toplam Yukseklik</b> :{{ is_emri.toplam_yukseklik }}
            <b>Mekanizma Genisligi</b> :{{ is_emri.mekanizma_genisligi }}
            <hr>
        </div>
    </div>
    {% include 'sld/sld_kapi_tipleri/'|add:is_emri.kapi_tipi|add:'.html' %}
</div>
</body>
</html>



