{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div>
            <h2>SLD Kayar Kapi - İŞ EMRİ OLUSTUR</h2>
        </div>
        <hr>
        <div>
            <form action="{% url 'sld:isEmri_olustur' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <div>
                    <input type="submit" value="Is Emri Olustur">
                </div>
            </form>
        </div>
    </div>
{% endblock body %}