<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GORUNTULE</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>GORUNTULE</h1>
        </div>
        <hr>
        <br>
        <div class="col">
            <a href="{% url 'giris_sayfasi' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>Ana
                SAYFA</h3></a>
            {{ is_emri.user }}
            {{ is_emri.crm }}
            {{ is_emri.firma_bilgileri }}
            {{ is_emri.sevk_adresi }}
            {{ is_emri.olusturma_tarihi }}
            {{ is_emri.teslim_tarihi }}
            {{ is_emri.teslim_sekli }}
            {{ is_emri.cam }}
            {{ is_emri.bitis }}
            {{ is_emri.notlar }}
            {{ is_emri.hazirlayan }}
            {{ is_emri.imalat_sorumlusu }}
            {{ is_emri.acilis_yonu }}
            {{ is_emri.ustluk }}
            {{ is_emri.kapi_tipi }}
            {{ is_emri.gecis_genisligi }}
            {{ is_emri.gecis_yuksekligi }}
            {{ is_emri.mekanizma_genisligi }}
            {{ is_emri.opsiyonlar }}
            {{ is_emri.radar_aktivasyonlar }}

             <nav class="nav">

                <a class="nav-link active" style="color:black;"
                   aria-current="page">SLD {{ is_emri.get_door_type_display }} KAYAR KAPI</a>
                <a class="nav-link active" style="color:black;" aria-current="page">Detay{{ is_emri.id }}</a>

            </nav>

        </div>
        <div class="col">
            <a href="{% url 'sld:sld_home' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>SLD -
                HOME</h3></a>
        </div>
    </div>
</div>
</body>
</html>