<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OLUSTUR</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>OLUSTUR</h1>
        </div>
        <hr>
        <br>
        <div class="col">
            <a href="{% url 'giris_sayfasi' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>Ana
                SAYFA</h3></a>
        </div>
        <div class="col">
            <a href="{% url 'sld:sld_home' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>SLD -
                HOME</h3></a>
        </div>
    </div>
</div>
</body>
</html>