<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>HOME</h1>
        </div>
        <div class="col">
            <a href="{% url 'giris_sayfasi' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>Giris Sayfasi</h3></a>
        </div>
        <hr><br>
        <div class="col">
{#            <a href="{% url 'sld:isEmri_goruntule' id = id %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>IS EMRI GORUNTULE</h3></a>#}
            <a href="{% url 'sld:isEmri_olustur' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>IS EMRI OLUSTUR</h3></a>
            <a href="{% url 'sld:isEmri_listele' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>IS EMRI LISTELE</h3></a>
            <a href="{% url 'sld:pdf_olustur' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>PDF OLUSTUR</h3></a>
            <a href="{% url 'sld:mail_gonder' %}" class="btn btn-primary" role="button" data-bs-toggle="button"><h3>MAIL GONDER</h3></a>
        </div>
    </div>
</div>
</body>
</html>