
<div class="container my-5">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                    type="button"
                    role="tab" aria-controls="nav-home" aria-selected="true">GENEL BILGILER
            </button>

            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                    type="button"
                    role="tab" aria-controls="nav-profile" aria-selected="true">MEKANIZMA IMALATI
            </button>

            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                    type="button"
                    role="tab" aria-controls="nav-contact" aria-selected="true">KANAT IMALATI
            </button>

            <button class="nav-link" id="nav-homeyedek-tab" data-bs-toggle="tab" data-bs-target="#nav-homeyedek"
                    type="button"
                    role="tab" aria-controls="nav-homeyedek" aria-selected="true">KANAT TOPLAMA
            </button>
        </div>
    </nav>
</div>
