{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/sld/bootstrap.min.css' %}">


    <title>{% block  page_title %}BASE{% endblock %}</title>

    {% block extra_css %}
    {% endblock %}

</head>
<body>
{% include 'header.html' %}

{% block body %}
{% endblock body %}

{% include 'footer.html' %}

<script src="{% static 'js/sld/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/sld/bootstrap.min.js' %}"></script>


{% block extra_script %}
{% endblock %}

</body>
</html>